body {
margin: 5% 5% 5%;

}

.exp-header {
  text-transform: uppercase;
  
}

h4,  h6 {
 margin: 0px;
}

h5 {
  margin-bottom: -10px;
  color: #808080;
}

h3 {
  margin-top: 50px;
}

.text-animation {
    font-weight: bold;
    animation: colorchange 3s infinite;
}

@keyframes colorchange {
  0% {
    color: #0000FF;
  }
  10% {
    color: r#ff0000;
  }
  20% {
    color: #008000;
  }

  40% {
    color: #FFA500;
  }

  80% {
    color: #FFC0CB;
  }
}
